:root {
  --font-montserrat-norms-light:"Montserrat-Light",sans-serif;
  --font-montserrat-italic-light:"Montserrat-LightItalic",sans-serif;
  --font-montserrat-norms-regular:"Montserrat-Regular",sans-serif;
  --font-montserrat-italic-regular:"Montserrat-Italic",sans-serif;
  --font-montserrat-norms-medium:"Montserrat-Medium",sans-serif;
  --font-montserrat-italic-medium:"Montserrat-MediumItalic",sans-serif;
  --font-montserrat-norms-semibold:"Montserrat-SemiBold",sans-serif;
  --font-montserrat-italic-semibold:"Montserrat-SemiBoldItalic",sans-serif;
  --font-montserrat-norms-bold:"Montserrat-Bold",sans-serif;
  --font-montserrat-italic-bold:"Montserrat-BoldItalic",sans-serif;
  --font-montserrat-norms-extrabold:"Montserrat-ExtraBold",sans-serif;
  --font-montserrat-italic-extrabold:"Montserrat-ExtraBoldItalic",sans-serif;
  --main-color:#7872B9;
  --secondary-color:#4D4D52;
}

.meet {
  background: #F9FCFF;
  padding: 75px 0 81px 0;
}
@media screen and (max-width: 768px) {
  .meet {
    padding: 47px 0 72px 0;
  }
}
.meet__body {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 768px) {
  .meet__body {
    flex-direction: column;
    row-gap: 30px;
  }
}
.meet__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .meet__content {
    text-align: center;
    align-items: center;
  }
}
.meet__image {
  flex: 0 0 49%;
  position: relative;
}
.meet__image:after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 80px;
  height: 80px;
  background: url(../img/home-page/meet/chat.svg) center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .meet__image:after {
    bottom: -60px;
  }
}
@media screen and (max-width: 360px) {
  .meet__image:after {
    bottom: -52px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 769px) {
  .meet__card-img {
    position: relative;
    min-height: 444px;
    overflow: hidden;
  }
  .meet__card-img img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .meet__card-img {
    text-align: center;
  }
  .meet__card-img img {
    max-width: 100%;
  }
}

.content-meet__title {
  margin-top: 17px;
  margin-bottom: 10px;
  font-size: 44px;
}
@media screen and (max-width: 768px) {
  .content-meet__title {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 360px) {
  .content-meet__title {
    font-family: var(--font-montserrat-norms-bold);
    font-size: 24px;
  }
}
.content-meet__subtitle {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  max-width: 430px;
  margin-bottom: 81px;
}
@media screen and (max-width: 768px) {
  .content-meet__subtitle {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__subtitle {
    font-size: 24px;
  }
}
.content-meet__button {
  padding: 0 90px;
  margin-bottom: 45px;
}
@media screen and (max-width: 880px) {
  .content-meet__button {
    padding: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .content-meet__button {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__button {
    padding: 0 50px;
  }
}
.content-meet__price {
  font-family: var(--font-montserrat-norms-semibold);
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 360px) {
  .content-meet__price {
    font-size: 14px;
  }
}

.online {
  padding: 82px 0 100px;
}
@media screen and (max-width: 768px) {
  .online {
    padding: 40px 0 45px;
  }
}
.online__body {
  text-align: center;
}
.online__title {
  margin-bottom: 80px;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .online__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.online__wrapper {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .online__wrapper {
    display: none;
  }
}
.online__item {
  flex: 0 1 33.333%;
}

.online__slider {
  display: none;
}
@media screen and (max-width: 900px) {
  .online__slider {
    display: block;
    position: relative;
  }
}
.online__slider .slick-list {
  overflow: hidden;
}
.online__slider .slick-track {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.online__slider .slick-dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 0 30px;
}
@media screen and (max-width: 480px) {
  .online__slider .slick-dots {
    margin-top: 20px;
  }
}
.online__slider .slick-dots li {
  width: 30px;
  height: 30px;
  background: #CDE1FF;
  border-radius: 50%;
  cursor: pointer;
}
.online__slider .slick-dots li button {
  display: none;
}
@media screen and (max-width: 480px) {
  .online__slider .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
.online__slider .slick-dots .slick-active {
  background: #7872B9;
}
.online__slider .item-online__content {
  min-height: calc(100% - 70px);
}

.item-online {
  position: relative;
}
.item-online__content {
  margin-top: 110px;
  padding: 130px 30px 44px 30px;
  background: #EBF5FF;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .item-online__content {
    margin-top: 70px;
    padding: 90px 15px 44px 15px;
  }
}
@media screen and (max-width: 768px) {
  .item-online__content {
    margin-top: 60px;
    padding: 90px 20px 30px 20px;
  }
}
.item-online__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #4D4D52;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .item-online__title {
    font-size: 18px;
  }
}
.item-online__text {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
}
@media screen and (max-width: 480px) {
  .item-online__text {
    font-size: 14px;
  }
}
.item-online__img {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
}
@media screen and (max-width: 992px) {
  .item-online__img {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
  }
}
@media screen and (max-width: 480px) {
  .item-online__img {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
  }
}

.together {
  background: #F9FCFF;
}
.together__body {
  text-align: center;
  padding: 80px 0 90px;
}
@media screen and (max-width: 768px) {
  .together__body {
    padding: 40px 0 40px;
  }
}
.together__content {
  position: relative;
}
.together__content:after {
  content: "";
  position: absolute;
  width: 109px;
  height: 140px;
  background: url(../img/home-page/together/arrow.png) no-repeat;
  bottom: -100px;
  right: 192px;
}
.together__title {
  font-family: var(--font-montserrat-italic-semibold);
  font-size: 24px;
  line-height: 140%;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.together__subtitle {
  margin-bottom: 20px;
}
.together__text {
  max-width: 578px;
  margin: 0 auto;
}

.together__container {
  max-width: 1600px;
  margin: 0 auto;
}

.slider-together {
  margin-top: 145px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slider-together {
    margin-top: 80px;
  }
}
.slider-together .slick-list {
  overflow: hidden;
}
.slider-together .slick-track {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .slider-together .slick-track {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.slider-together .slick-slide {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.slider-together .slick-slide div:last-child {
  transform: translate(100px, 0);
}
@media screen and (max-width: 768px) {
  .slider-together .slick-slide {
    row-gap: 15px;
  }
}
.slider-together__item {
  border: 2px solid #7872B9;
  border-radius: 40px;
  min-height: 50px;
  padding: 0 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-montserrat-italic-semibold);
  font-size: 20px;
  line-height: 120%;
  color: var(--main-color);
}
@media screen and (max-width: 768px) {
  .slider-together__item {
    font-size: 14px;
    min-height: 50px;
    padding: 0 27px;
  }
}
.slider-together__item_purple {
  color: #fff;
  background: #7872B9;
}
@media screen and (max-width: 768px) {
  .slider-together__item_purple {
    font-size: 14px;
    min-height: 50px;
    padding: 0 27px;
  }
}