:root {
  --font-montserrat-norms-light:"Montserrat-Light",sans-serif;
  --font-montserrat-italic-light:"Montserrat-LightItalic",sans-serif;
  --font-montserrat-norms-regular:"Montserrat-Regular",sans-serif;
  --font-montserrat-italic-regular:"Montserrat-Italic",sans-serif;
  --font-montserrat-norms-medium:"Montserrat-Medium",sans-serif;
  --font-montserrat-italic-medium:"Montserrat-MediumItalic",sans-serif;
  --font-montserrat-norms-semibold:"Montserrat-SemiBold",sans-serif;
  --font-montserrat-italic-semibold:"Montserrat-SemiBoldItalic",sans-serif;
  --font-montserrat-norms-bold:"Montserrat-Bold",sans-serif;
  --font-montserrat-italic-bold:"Montserrat-BoldItalic",sans-serif;
  --font-montserrat-norms-extrabold:"Montserrat-ExtraBold",sans-serif;
  --font-montserrat-italic-extrabold:"Montserrat-ExtraBoldItalic",sans-serif;
  --main-color:#7872B9;
  --secondary-color:#4D4D52;
}

.meet {
  background: #F9FCFF;
  padding: 75px 0 81px 0;
}
@media screen and (max-width: 768px) {
  .meet {
    padding: 47px 0 72px 0;
  }
}
.meet__body {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 768px) {
  .meet__body {
    flex-direction: column;
    row-gap: 30px;
  }
}
.meet__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .meet__content {
    text-align: center;
    align-items: center;
  }
}
.meet__image {
  flex: 0 0 49%;
  position: relative;
}
.meet__image:after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 80px;
  height: 80px;
  background: url(../img/home-page/meet/chat.svg) center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .meet__image:after {
    bottom: -60px;
  }
}
@media screen and (max-width: 360px) {
  .meet__image:after {
    bottom: -52px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 769px) {
  .meet__card-img {
    position: relative;
    min-height: 444px;
    overflow: hidden;
  }
  .meet__card-img img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .meet__card-img {
    text-align: center;
  }
  .meet__card-img img {
    max-width: 100%;
  }
}

.content-meet__title {
  margin-top: 17px;
  margin-bottom: 10px;
  font-size: 44px;
}
@media screen and (max-width: 768px) {
  .content-meet__title {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 360px) {
  .content-meet__title {
    font-family: var(--font-montserrat-norms-bold);
    font-size: 24px;
  }
}
.content-meet__subtitle {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  max-width: 430px;
  margin-bottom: 81px;
}
@media screen and (max-width: 768px) {
  .content-meet__subtitle {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__subtitle {
    font-size: 24px;
  }
}
.content-meet__button {
  padding: 0 90px;
  margin-bottom: 45px;
}
@media screen and (max-width: 880px) {
  .content-meet__button {
    padding: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .content-meet__button {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__button {
    padding: 0 50px;
  }
}
.content-meet__price {
  font-family: var(--font-montserrat-norms-semibold);
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 360px) {
  .content-meet__price {
    font-size: 14px;
  }
}

.online {
  padding: 82px 0 100px;
}
@media screen and (max-width: 768px) {
  .online {
    padding: 40px 0 45px;
  }
}
.online__body {
  text-align: center;
}
.online__title {
  margin-bottom: 80px;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .online__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.online__wrapper {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .online__wrapper {
    display: none;
  }
}
.online__item {
  flex: 0 1 33.333%;
}

.online__slider {
  display: none;
}
@media screen and (max-width: 900px) {
  .online__slider {
    display: block;
    position: relative;
  }
}
.online__slider .slick-list {
  overflow: hidden;
}
.online__slider .slick-track {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.online__slider .slick-dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 0 30px;
}
@media screen and (max-width: 480px) {
  .online__slider .slick-dots {
    margin-top: 20px;
  }
}
.online__slider .slick-dots li {
  width: 30px;
  height: 30px;
  background: #CDE1FF;
  border-radius: 50%;
  cursor: pointer;
}
.online__slider .slick-dots li button {
  display: none;
}
@media screen and (max-width: 480px) {
  .online__slider .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
.online__slider .slick-dots .slick-active {
  background: #7872B9;
}
.online__slider .item-online__content {
  min-height: calc(100% - 70px);
}

.item-online {
  position: relative;
}
.item-online__content {
  margin-top: 110px;
  padding: 130px 30px 44px 30px;
  background: #EBF5FF;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .item-online__content {
    margin-top: 70px;
    padding: 90px 15px 44px 15px;
  }
}
@media screen and (max-width: 768px) {
  .item-online__content {
    margin-top: 60px;
    padding: 90px 20px 30px 20px;
  }
}
.item-online__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #4D4D52;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .item-online__title {
    font-size: 18px;
  }
}
.item-online__text {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
}
@media screen and (max-width: 480px) {
  .item-online__text {
    font-size: 14px;
  }
}
.item-online__img {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
}
@media screen and (max-width: 992px) {
  .item-online__img {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
  }
}
@media screen and (max-width: 480px) {
  .item-online__img {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
  }
}

.together {
  background: #F9FCFF;
}
.together__body {
  text-align: center;
  padding: 80px 0 90px;
}
@media screen and (max-width: 768px) {
  .together__body {
    padding: 40px 0 40px;
  }
}
.together__content {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.together__content:after {
  content: "";
  position: absolute;
  width: 109px;
  height: 140px;
  background: url(../img/home-page/together/arrow.png) no-repeat;
  bottom: -100px;
  right: -107px;
}
@media screen and (max-width: 992px) {
  .together__content:after {
    transform: rotate(30deg) scale(0.45);
    bottom: -100px;
    right: -10px;
  }
}
.together__title {
  font-family: var(--font-montserrat-italic-semibold);
  font-size: 24px;
  line-height: 140%;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.together__subtitle {
  margin-bottom: 20px;
}
.together__text {
  max-width: 578px;
  margin: 0 auto;
}

.together__container {
  max-width: 1600px;
  margin: 0 auto;
}

.slider-together {
  margin-top: 145px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .slider-together {
    margin-top: 80px;
  }
}
.slider-together .slick-list {
  overflow: hidden;
}
.slider-together .slick-track {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .slider-together .slick-track {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.slider-together .slick-slide {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.slider-together .slick-slide div:last-child {
  transform: translate(100px, 0);
}
@media screen and (max-width: 768px) {
  .slider-together .slick-slide {
    row-gap: 15px;
  }
}
.slider-together__item {
  border: 2px solid #7872B9;
  border-radius: 40px;
  min-height: 50px;
  padding: 0 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-montserrat-italic-semibold);
  font-size: 20px;
  line-height: 120%;
  color: var(--main-color);
  outline: none;
  background: none;
}
@media screen and (max-width: 768px) {
  .slider-together__item {
    font-size: 14px;
    min-height: 50px;
    padding: 0 27px;
  }
}
.slider-together__item_purple {
  color: #fff;
  background: #7872B9;
}
@media screen and (max-width: 768px) {
  .slider-together__item_purple {
    font-size: 14px;
    min-height: 50px;
    padding: 0 27px;
  }
}

.specialist {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .specialist {
    padding: 40px 0;
  }
}
.specialist__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
  margin-bottom: 10px;
}
.specialist__subtitle {
  max-width: 1080px;
  margin-bottom: 27px;
}
.specialist__subtitle span {
  position: relative;
}
.specialist__subtitle span:after {
  position: absolute;
  content: "";
  bottom: -11px;
  right: 5px;
  width: 321px;
  height: 12px;
  background: url(../img/home-page/specialist/arrow-yellow.png) no-repeat;
}
@media screen and (max-width: 640px) {
  .specialist__subtitle span:after {
    transform: scale(0.5);
    right: -90px;
  }
}

.flex-specialist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
}
@media screen and (max-width: 640px) {
  .flex-specialist {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .flex-specialist {
    gap: 20px;
  }
}
.flex-specialist__item {
  background: #EBF5FF;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
@media screen and (max-width: 1100px) {
  .flex-specialist__item {
    gap: 20px;
  }
}
.flex-specialist__item_long {
  flex: 1 0 57%;
  padding: 30px 20px 10px 30px;
}
.flex-specialist__item_short {
  flex: 1 0 40%;
  padding: 40px 90px 40px 100px;
}
@media screen and (max-width: 1100px) {
  .flex-specialist__item_short {
    padding: 30px 30px 40px 40px;
  }
}
@media screen and (max-width: 640px) {
  .flex-specialist__item_short {
    flex: 1 0 100%;
  }
}
@media screen and (max-width: 1110px) {
  .flex-specialist__item img {
    width: 100px;
    height: 100px;
  }
}
.flex-specialist__title {
  margin-bottom: 15px;
}

.slider-specialist {
  display: none;
}
@media screen and (max-width: 640px) {
  .slider-specialist {
    display: block;
    margin-top: 40px;
  }
}
.slider-specialist .slick-list {
  overflow: hidden;
}
.slider-specialist .slick-track {
  display: flex;
  gap: 10px;
}
.slider-specialist .slick-dots {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.slider-specialist .slick-dots li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #CDE1FF;
  cursor: pointer;
}
.slider-specialist .slick-dots li button {
  display: none;
}
@media screen and (max-width: 360px) {
  .slider-specialist .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
.slider-specialist .slick-dots .slick-active {
  background: #7872B9;
}
.slider-specialist__item {
  background: #F9FCFF;
  border-radius: 15px;
  padding: 30px 20px;
}
@media screen and (max-width: 360px) {
  .slider-specialist__item {
    padding: 30px 10px;
  }
}
.slider-specialist__content {
  text-align: center;
}
.slider-specialist__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}
.slider-specialist__text {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 20px;
  line-height: 140%;
  color: #4D4D52;
  max-width: 400px;
  margin: 0 auto;
}

.step {
  padding: 100px 0 138px;
  background: #F9FCFF;
}
@media screen and (max-width: 768px) {
  .step {
    padding: 40px 0 50px;
  }
}
.step__body {
  text-align: center;
}
.step__title {
  margin-bottom: 80px;
}
.step__wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
@media screen and (max-width: 768px) {
  .step__wrapper {
    gap: 50px;
  }
}

.row-step {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.row-step__content {
  flex: 0 1 500px;
  text-align: left;
  padding: 48px 0 40px 110px;
  position: relative;
  min-height: 210px;
}
@media screen and (max-width: 480px) {
  .row-step__content {
    padding: 80px 10px 0 10px;
    text-align: center;
    min-height: 0;
  }
}
.row-step__title {
  position: relative;
  z-index: 5;
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
  margin-bottom: 5px;
}
@media screen and (max-width: 480px) {
  .row-step__title {
    font-size: 16px;
  }
}
.row-step__text {
  max-width: 390px;
  position: relative;
  z-index: 5;
}
.row-step__number {
  position: absolute;
  top: 24px;
  left: 0;
}
@media screen and (max-width: 480px) {
  .row-step__number {
    top: 0;
    left: calc(50% - 25px);
  }
}
@media screen and (max-width: 768px) {
  .row-step__card {
    display: none;
  }
}
.row-step__card img {
  width: 100%;
  height: auto;
}

.first-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  min-height: 85px;
}
@media screen and (max-width: 992px) {
  .first-step {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .first-step {
    margin-top: 50px;
  }
}
.first-step__content {
  position: relative;
}
.first-step__content:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -25px;
  left: 0;
  width: 151px;
  height: 100px;
  background: url(../img/home-page/step/calendar.png) no-repeat;
}
@media screen and (max-width: 992px) {
  .first-step__content:before {
    background: url(../img/home-page/step/calendar-mini.png) no-repeat;
    width: 54px;
    height: 52px;
    top: -25px;
    left: calc(50% - 27px);
    transform: scale(2);
  }
}
@media screen and (max-width: 480px) {
  .first-step__content:before {
    transform: scale(1);
  }
}
@media screen and (max-width: 992px) {
  .first-step__content {
    padding-top: 65px;
  }
}
.first-step__text {
  padding-left: 105px;
  max-width: 417px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  .first-step__text {
    max-width: 215px;
    padding-left: 0;
    margin-bottom: 40px;
  }
}
.first-step__button {
  padding: 0 84px;
}
@media screen and (max-width: 480px) {
  .first-step__button {
    padding: 0 50px;
    font-size: 16px;
  }
}

.ask {
  padding: 120px 0 114px;
}
@media screen and (max-width: 768px) {
  .ask {
    padding: 48px 0 50px;
  }
}
.ask__body {
  text-align: center;
}
.ask__title {
  margin-bottom: 60px;
}
.ask__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (max-width: 768px) {
  .ask__wrapper {
    row-gap: 25px;
  }
}
.ask__button {
  margin-top: 40px;
  padding: 0 10px;
  max-width: 290px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .ask__button {
    display: none;
  }
}

.item-ask {
  background: #F9FCFF;
  border-radius: 15px;
  padding: 36px 100px 30px 100px;
}
@media screen and (max-width: 768px) {
  .item-ask {
    padding: 20px 20px 20px 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.item-ask__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media screen and (max-width: 768px) {
  .item-ask__top {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.item-ask__top img {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .item-ask__top img {
    width: 30px;
    height: 30px;
  }
}
.item-ask__content {
  max-width: 780px;
  text-align: left;
}
.item-ask__title {
  font-family: var(--font-montserrat-italic-semibold);
  font-size: 20px;
  line-height: 140%;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .item-ask__title {
    font-size: 16px;
  }
}
.item-ask__text {
  margin-top: 15px;
  max-width: 780px;
  text-align: left;
  margin-right: 100px;
  display: none;
}
@media screen and (max-width: 768px) {
  .item-ask__text {
    margin-right: 0;
  }
}
.item-ask__text.open {
  display: block;
}
.item-ask__icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: url(../img/home-page/ask/plus.png) center no-repeat;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .item-ask__icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    flex: 0 0 30px;
    min-width: 30px;
  }
}
.item-ask__icon.open {
  background: url(../img/home-page/ask/minus.png) center no-repeat;
}

.virtual {
  padding: 120px 0;
  background: #F9FCFF;
}
@media screen and (max-width: 768px) {
  .virtual {
    padding: 40px 0 50px;
  }
}
.virtual__body {
  text-align: center;
  position: relative;
  background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
}
@media screen and (max-width: 1160px) {
  .virtual__body {
    background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
  }
  .virtual__body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F9FCFF;
    opacity: 0.7;
  }
}
@media screen and (max-width: 480px) {
  .virtual__body {
    background: url(../img/home-page/virtual/mini-phone.png) no-repeat;
    background-position: bottom 100px left 50%;
  }
  .virtual__body:before {
    display: none;
  }
}
.virtual__content {
  max-width: 680px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .virtual__content {
    padding-bottom: 337px;
  }
}
.virtual__title {
  margin-bottom: 35px;
  z-index: 1;
  position: relative;
}
.virtual__text {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
  max-width: 580px;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.virtual__list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.virtual__item {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 18px;
  line-height: 140%;
  color: var(--secondary-color);
  padding-left: 70px;
  position: relative;
}
.virtual__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../img/home-page/virtual/check.png) center/cover no-repeat;
}
@media screen and (max-width: 480px) {
  .virtual__item::before {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .virtual__item {
    padding-left: 40px;
  }
}
.virtual__button {
  max-width: 390px;
  width: 100%;
  padding: 10px;
  margin: 100px auto 0 auto;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .virtual__button {
    margin: 50px auto 0 auto;
  }
}

.help {
  padding: 150px 0 120px;
}
@media screen and (max-width: 768px) {
  .help {
    padding: 50px 0;
  }
}
.help__body {
  background: #F9FCFF;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  padding: 55px 0 72px;
  position: relative;
}
.help__inner {
  padding: 0 20px;
}
.help__woman {
  position: absolute;
  top: -29px;
  right: 30px;
}
@media screen and (max-width: 768px) {
  .help__woman {
    width: 90px;
    height: 90px;
    top: -24px;
    right: 10px;
  }
}
@media screen and (max-width: 340px) {
  .help__woman {
    width: 90px;
    height: 90px;
    top: -30px;
    right: 0px;
  }
}

.info-help {
  padding-right: 300px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .info-help {
    padding-right: 120px;
  }
}
@media screen and (max-width: 480px) {
  .info-help {
    padding-right: 0;
  }
}
.info-help__title {
  margin-bottom: 20px;
  max-width: 780px;
}
@media screen and (max-width: 480px) {
  .info-help__title {
    margin-right: 70px;
  }
}
.info-help__text {
  max-width: 780px;
}
.info-help__text span {
  font-family: var(--font-montserrat-norms-semibold);
}

.contact-help {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  gap: 30px 50px;
}
@media screen and (max-width: 768px) {
  .contact-help {
    gap: 30px 20px;
  }
}
@media screen and (max-width: 640px) {
  .contact-help {
    grid-template: 1fr/repeat(1, 1fr);
  }
}
.contact-help__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 140%;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .contact-help__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
}