:root {
  --font-montserrat-norms-light:"Montserrat-Light",sans-serif;
  --font-montserrat-italic-light:"Montserrat-LightItalic",sans-serif;
  --font-montserrat-norms-regular:"Montserrat-Regular",sans-serif;
  --font-montserrat-italic-regular:"Montserrat-Italic",sans-serif;
  --font-montserrat-norms-medium:"Montserrat-Medium",sans-serif;
  --font-montserrat-italic-medium:"Montserrat-MediumItalic",sans-serif;
  --font-montserrat-norms-semibold:"Montserrat-SemiBold",sans-serif;
  --font-montserrat-italic-semibold:"Montserrat-SemiBoldItalic",sans-serif;
  --font-montserrat-norms-bold:"Montserrat-Bold",sans-serif;
  --font-montserrat-italic-bold:"Montserrat-BoldItalic",sans-serif;
  --font-montserrat-norms-extrabold:"Montserrat-ExtraBold",sans-serif;
  --font-montserrat-italic-extrabold:"Montserrat-ExtraBoldItalic",sans-serif;
  --main-color:#7872B9;
  --secondary-color:#4D4D52;
}

.meet {
  background: #F9FCFF;
  padding: 75px 0 81px 0;
}
@media screen and (max-width: 768px) {
  .meet {
    padding: 47px 0 50px 0;
  }
}
.meet__body {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 768px) {
  .meet__body {
    flex-direction: column;
    row-gap: 30px;
  }
}
.meet__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .meet__content {
    text-align: left;
    align-items: left;
  }
}
.meet__image {
  flex: 0 0 40.5%;
  position: relative;
}
@media screen and (min-width: 769px) {
  .meet__card-img img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .meet__card-img {
    text-align: center;
  }
  .meet__card-img img {
    max-width: 100%;
  }
}

.content-meet__title {
  margin-top: 17px;
  margin-bottom: 20px;
  font-size: 44px;
}
.content-meet__title span {
  position: relative;
}
.content-meet__title span::before {
  content: "";
  position: absolute;
  background: url(../img/about-us/meet/ornamentation.png) no-repeat;
  top: -15px;
  left: -27px;
  width: 222px;
  height: 85px;
}
@media screen and (max-width: 480px) {
  .content-meet__title span::before {
    background: url(../img/about-us/meet/mini-ornamentation.png) no-repeat;
    width: 112px;
    height: 45px;
    z-index: 1;
    top: -9px;
    left: -9px;
  }
}
@media screen and (max-width: 768px) {
  .content-meet__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__title {
    font-family: var(--font-montserrat-norms-bold);
    font-size: 24px;
    margin-bottom: 35px;
  }
}
.content-meet__text {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  max-width: 580px;
  margin-bottom: 66px;
}
@media screen and (max-width: 768px) {
  .content-meet__text {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__text {
    font-size: 24px;
  }
}
.content-meet__button {
  padding: 0 90px;
  margin-bottom: 45px;
}
@media screen and (max-width: 880px) {
  .content-meet__button {
    padding: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .content-meet__button {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .content-meet__button {
    padding: 0 50px;
  }
}

.rates {
  padding: 110px 0 120px;
}
@media screen and (max-width: 768px) {
  .rates {
    padding: 50px 0;
  }
}
.rates__body {
  text-align: center;
}
.rates__title {
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) and (max-width: 480px) {
  .rates__title {
    margin-bottom: 30px;
  }
}
.rates__box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .rates__box {
    display: none;
  }
}
.rates__form {
  margin-top: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .rates__form {
    margin-top: 35px;
    row-gap: 20px;
  }
}
.rates__form-promo {
  min-height: 60px;
  max-width: 380px;
  width: 100%;
  border: 2px solid #7872B9;
  outline: none;
  padding: 19px 30px;
  border: 2px solid #7872B9;
  border-radius: 15px;
  font-family: var(--font-montserrat-norms-medium);
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #7872B9;
}
.rates__form-promo::-moz-placeholder {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(120, 114, 185, 0.6);
}
.rates__form-promo:-ms-input-placeholder {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(120, 114, 185, 0.6);
}
.rates__form-promo::placeholder {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(120, 114, 185, 0.6);
}
@media screen and (max-width: 480px) {
  .rates__form-promo::-moz-placeholder {
    font-size: 14;
  }
  .rates__form-promo:-ms-input-placeholder {
    font-size: 14;
  }
  .rates__form-promo::placeholder {
    font-size: 14;
  }
}
@media screen and (max-width: 480px) {
  .rates__form-promo {
    padding: 13px 15px;
    font-size: 18px;
  }
}
.rates__form-send {
  max-width: 380px;
  width: 100%;
}

.item-rates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: #F9FCFF;
  border-radius: 15px;
  min-height: 384px;
  flex: 0 0 280px;
  padding: 0 0px 30px 0px;
}
@media screen and (max-width: 480px) {
  .item-rates {
    flex: 0 0 240px;
    min-height: 362px;
  }
}
@media screen and (max-width: 350px) {
  .item-rates {
    flex: 0 0 200px;
  }
}
.item-rates__header {
  background: #EBF5FF;
  min-height: 57px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .item-rates__header {
    min-height: 52px;
  }
}
.item-rates__title {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4D4D52;
  margin: auto 0;
}
@media screen and (max-width: 480px) {
  .item-rates__title {
    font-size: 16px;
  }
}
.item-rates__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-top: 20px;
}
.item-rates__price {
  font-family: var(--font-montserrat-norms-bold);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #7872B9;
  max-width: 220px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .item-rates__price {
    font-size: 20px;
  }
}
.item-rates__price span {
  line-height: 140%;
  font-family: var(--font-montserrat-norms-medium);
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #7872B9;
}
@media screen and (max-width: 480px) {
  .item-rates__price span {
    font-size: 18px;
  }
}
.item-rates__pay {
  border: none;
  outline: none;
  background: #7872B9;
  border-radius: 10px;
  min-height: 70px;
  max-width: 220px;
  width: 100%;
  padding: 0 10px;
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}
.item-rates__pay:hover {
  background: hsl(245deg, 62%, 75%);
}
@media screen and (max-width: 480px) {
  .item-rates__pay {
    font-size: 16px;
    max-width: 180px;
  }
}
@media screen and (max-width: 350px) {
  .item-rates__pay {
    max-width: 150px;
  }
}
.item-rates__payment {
  border: none;
  outline: none;
  min-height: 50px;
  width: 100%;
  max-width: 220px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F1E6F7;
  border-radius: 8px;
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4D4D52;
  transition: all 0.3s;
  cursor: pointer;
}
.item-rates__payment:hover {
  background: #dbcee2;
}
@media screen and (max-width: 480px) {
  .item-rates__payment {
    font-size: 16px;
    max-width: 180px;
  }
}
@media screen and (max-width: 350px) {
  .item-rates__payment {
    font-size: 16px;
    max-width: 150px;
  }
}
.item-rates__benefit {
  font-family: var(--font-montserrat-norms-medium);
  font-size: 18px;
  line-height: 140%;
  color: #7872B9;
}

.rates-slider {
  display: none;
}
@media screen and (max-width: 768px) {
  .rates-slider {
    display: block;
    max-width: 100%;
    width: 100%;
    position: relative;
  }
}
.rates-slider .slick-list {
  overflow: hidden;
}
.rates-slider .slick-track {
  display: flex;
  justify-content: space-around;
}
.rates-slider .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  width: 20px;
  height: 24px;
  cursor: pointer;
  top: 50%;
  outline: none;
  border: none;
}
.rates-slider .slick-prev {
  left: -10px;
  background: url(../img/rates/rates/left-arrow.png) center no-repeat;
  z-index: 5;
}
.rates-slider .slick-next {
  right: -10px;
  background: url(../img/rates/rates/right-arrow.png) center no-repeat;
}

.virtual {
  padding: 120px 0;
  background: #F9FCFF;
}
@media screen and (max-width: 768px) {
  .virtual {
    padding: 40px 0 50px;
  }
}
.virtual__body {
  text-align: center;
  position: relative;
  background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
}
@media screen and (max-width: 1160px) {
  .virtual__body {
    background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
  }
  .virtual__body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F9FCFF;
    opacity: 0.7;
  }
}
@media screen and (max-width: 480px) {
  .virtual__body {
    background: url(../img/home-page/virtual/mini-phone.png) no-repeat;
    background-position: bottom 100px left 50%;
  }
  .virtual__body:before {
    display: none;
  }
}
.virtual__content {
  max-width: 680px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .virtual__content {
    padding-bottom: 337px;
  }
}
.virtual__title {
  margin-bottom: 35px;
  z-index: 1;
  position: relative;
}
.virtual__text {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
  max-width: 580px;
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.virtual__list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.virtual__item {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 18px;
  line-height: 140%;
  color: var(--secondary-color);
  padding-left: 70px;
  position: relative;
}
.virtual__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../img/home-page/virtual/check.png) center/cover no-repeat;
}
@media screen and (max-width: 480px) {
  .virtual__item::before {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .virtual__item {
    padding-left: 40px;
  }
}
.virtual__button {
  max-width: 390px;
  width: 100%;
  padding: 10px;
  margin: 100px auto 0 auto;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .virtual__button {
    margin: 50px auto 0 auto;
  }
}

.care {
  padding: 155px 0 120px;
}
@media screen and (max-width: 768px) {
  .care {
    padding: 50px 0;
  }
}
.care__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #F9FCFF;
  border-radius: 20px;
  padding: 0 60px 90px 80px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 992px) {
  .care__body {
    padding: 0 30px 90px 40px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .care__body {
    flex-direction: column;
    background: #fff;
    padding: 0 20px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 350px) {
  .care__body {
    padding: 0 0;
  }
}
.care__content {
  flex: 0 1 580px;
  padding: 80px 0 0 0;
}
@media screen and (max-width: 992px) {
  .care__content {
    padding: 40px 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .care__content {
    flex: 0 0 auto;
    padding: 0 0 0 0;
  }
}
.care__title {
  font-family: var(--font-montserrat-norms-semibold);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
  margin-bottom: 10px;
}
.care__subtitle {
  margin-bottom: 20px;
}
.care__text {
  font-family: var(--font-montserrat-norms-regular);
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #4D4D52;
}
@media screen and (max-width: 480px) {
  .care__text {
    font-size: 14px;
  }
}
.care__img img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 769px) {
  .care__img img {
    transform: translate(0, -35px);
  }
}

.programm {
  padding: 0 0 120px 0;
}
@media screen and (max-width: 768px) {
  .programm {
    padding: 0 0 50px 0;
  }
}
.programm__body {
  text-align: center;
}
.programm__title {
  margin-bottom: 83px;
}
@media screen and (max-width: 768px) {
  .programm__title {
    margin-bottom: 40px;
  }
}
.programm__box {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .programm__box {
    flex-direction: column;
    row-gap: 60px;
  }
}
.item-box {
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .item-box {
    flex: 0 0 auto;
  }
}
.item-box:nth-child(2)::before, .item-box:nth-child(3)::before {
  content: "";
  position: absolute;
  z-index: 5;
}
@media screen and (max-width: 992px) {
  .item-box:nth-child(2)::before, .item-box:nth-child(3)::before {
    left: -35%;
  }
}
@media screen and (max-width: 768px) {
  .item-box:nth-child(2)::before, .item-box:nth-child(3)::before {
    top: -50px;
  }
}
@media screen and (max-width: 480px) {
  .item-box:nth-child(2)::before, .item-box:nth-child(3)::before {
    width: 70px;
    height: 70px;
    top: -54px;
  }
}
.item-box:nth-child(2)::before {
  background: url(../img/rates/programm/arrow.png) center/cover no-repeat;
  width: 180px;
  height: 80px;
  top: 75px;
  left: -200px;
}
@media screen and (max-width: 1140px) {
  .item-box:nth-child(2)::before {
    left: -150px;
  }
}
@media screen and (max-width: 992px) {
  .item-box:nth-child(2)::before {
    left: -80px;
    width: 140px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .item-box:nth-child(2)::before {
    left: 20px;
    transform: rotate(75deg);
    top: -35px;
  }
}
@media screen and (max-width: 480px) {
  .item-box:nth-child(2)::before {
    width: 70px;
    height: 40px;
    top: -35px;
  }
}
.item-box:nth-child(3)::before {
  background: url(../img/rates/programm/arrow-2.png) center/cover no-repeat;
  width: 180px;
  height: 80px;
  top: 53px;
  left: -200px;
}
@media screen and (max-width: 1140px) {
  .item-box:nth-child(3)::before {
    left: -150px;
  }
}
@media screen and (max-width: 992px) {
  .item-box:nth-child(3)::before {
    left: -80px;
    width: 140px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .item-box:nth-child(3)::before {
    left: calc(100% - 138px);
    transform: rotate(103deg);
    top: -35px;
  }
}
@media screen and (max-width: 480px) {
  .item-box:nth-child(3)::before {
    left: calc(100% - 100px);
    width: 70px;
    height: 40px;
    top: -35px;
  }
}
.item-box__text {
  max-width: 330px;
}
@media screen and (max-width: 480px) {
  .item-box__text {
    max-width: 250px;
  }
}
.item-box img {
  width: 100%;
  height: auto;
  max-width: 120px;
}
@media screen and (max-width: 480px) {
  .item-box img {
    max-width: 50px;
  }
}