//Переменные=============================================================
:root{
    --font-montserrat-norms-light:"Montserrat-Light",sans-serif;
    --font-montserrat-italic-light:"Montserrat-LightItalic",sans-serif;
    --font-montserrat-norms-regular:'Montserrat-Regular',sans-serif;
    --font-montserrat-italic-regular:'Montserrat-Italic',sans-serif;
    --font-montserrat-norms-medium:'Montserrat-Medium',sans-serif;
    --font-montserrat-italic-medium:'Montserrat-MediumItalic',sans-serif;
    --font-montserrat-norms-semibold:'Montserrat-SemiBold',sans-serif;
    --font-montserrat-italic-semibold:'Montserrat-SemiBoldItalic',sans-serif;
    --font-montserrat-norms-bold:'Montserrat-Bold',sans-serif;
    --font-montserrat-italic-bold:'Montserrat-BoldItalic',sans-serif;
    --font-montserrat-norms-extrabold:"Montserrat-ExtraBold",sans-serif;
    --font-montserrat-italic-extrabold:"Montserrat-ExtraBoldItalic",sans-serif;
    --main-color:#7872B9;
    --secondary-color:#4D4D52;
}
//meet==================================================================
.meet {
    background: #F9FCFF;
    padding: 75px 0 81px 0;
    @media screen and (max-width:768px){
        padding: 47px 0 72px 0;
    }
    &__body {
        display: flex;
        column-gap: 15px;
        @media screen and (max-width:768px){
            flex-direction: column;
            row-gap: 30px;
            
        }
    }
    &__content {
        flex:1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width:768px){
            text-align: left;
            align-items: left;
        }
    }

    &__image {
        flex:0 0 49%;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: -100px;
            right: 0;
            width: 80px;
            height: 80px;
            background: url(../img/home-page/meet/chat.svg) center/cover no-repeat;
            @media screen and (max-width:768px){
                bottom: -60px;
            }
            @media screen and (max-width:360px){
                bottom: -52px;
                width: 40px;
                height: 40px;
            }
        }
    }
    &__card-img {
        @media screen and (min-width:769px){
            position: relative;
            min-height: 444px;
            overflow: hidden;
            img{
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
       }
       @media screen and (max-width:768px){
        text-align: center;
            img{
                max-width: 100%;
            }
        }
    }
}

.content-meet {

    &__title {
        margin-top: 17px;
        margin-bottom: 10px;
        font-size: 44px;
        @media screen and (max-width:768px){
           margin-bottom: 5px;
        }
        @media screen and (max-width:360px){
            font-family: var(--font-montserrat-norms-bold);
            font-size: 24px;
            
        }
    }

    &__subtitle {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
        max-width: 430px;
        margin-bottom: 81px;
        @media screen and (max-width:768px){
            margin-bottom: 30px;
        }
        @media screen and (max-width:480px){
            font-size: 24px;
        }
    }

    &__button {
        padding: 0 90px;
        margin-bottom: 45px;
        @media screen and (max-width:880px){
            padding: 0 70px;
        }
        @media screen and (max-width:768px){
            margin-bottom: 30px;
        }
        @media screen and (max-width:480px){
            padding: 0 50px;
        }
    }
    &__price {
        font-family: var(--font-montserrat-norms-semibold);
        color: var(--secondary-color);
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.02em;
        @media screen and (max-width:360px){
            font-size: 14px;
        }
    }
}
//online==================================================================
.online {
    padding: 82px 0 100px;
    @media screen and (max-width:768px){
        padding: 40px 0 45px;
    }
    &__body {
        text-align: center;
    }

    &__title {
        margin-bottom: 80px;
        max-width: 1200px;
        @media screen and (max-width:480px){
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 20px;
        @media screen and (max-width:900px){
            display: none;
        }
    }

    &__item {
        flex: 0 1 33.333%;
    }
}
//слайдер ниже 900px
.online__slider{
    display: none;
    @media screen and (max-width:900px){
       display: block;
       position: relative;
    }
    //Ограничивающая оболочка
    .slick-list{
        overflow: hidden;
       
    }
    //Дорожка слайдера
    .slick-track{
        display: flex;
        column-gap:20px;
    }
    //Точки для слайдера
    .slick-dots{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap:0 30px;
        @media screen and (max-width:480px){
            margin-top: 20px;
        }
        //Просто точка
        li{
            width: 30px;
            height: 30px;
            background: #CDE1FF;
            border-radius: 50%;
            cursor: pointer;
            button{
                display: none;
            }
            @media screen and (max-width:480px){
                width: 10px;
                height: 10px;
            }
        }
        //Активная точка
        .slick-active{
            background: #7872B9;
        }
    }

    //Элементы для слайдера
   
    .item-online__content{
        min-height: calc(100% - 70px);
       
    }
}
.item-online {
    position: relative;
    &__content {
        margin-top: 110px;
        padding: 130px 30px 44px 30px;
        background: #EBF5FF;
        border-radius: 20px;
        text-align: center;
        @media screen and (max-width:992px){
            margin-top: 70px;
            padding: 90px 15px 44px 15px;
        }
        @media screen and (max-width:768px){
            margin-top: 60px;
            padding: 90px 20px 30px 20px;
        }
    }

    &__title {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #4D4D52;
        margin-bottom: 15px;
        @media screen and (max-width:480px){
            font-size: 18px;
            
        }
    }

    &__text {
        font-family: var(--font-montserrat-norms-regular);
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #4D4D52;
        @media screen and (max-width:480px){
            font-size: 14px;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left:calc(50% - 110px);
        @media screen and (max-width:992px){
            width: 150px;
            height: 150px;
            left:calc(50% - 75px);
        }
        @media screen and (max-width:480px){
            width: 120px;
            height: 120px;
            left:calc(50% - 60px);
        }
    }
}
//together====================================================================
.together {
    background: #F9FCFF;
    &__body {
        text-align: center;
        padding: 80px 0 90px;
        @media screen and (max-width:768px){
            padding: 40px 0 40px;
        }
    }
    &__content{
        position: relative;
        display: inline-flex;
        flex-direction: column;
        &:after{
            content: '';
            position: absolute;
            width: 109px;
            height: 140px;
            background: url(../img/home-page/together/arrow.png) no-repeat;
            bottom: -100px;
            right: -107px;
            @media screen and (max-width:992px){
                transform: rotate(30deg) scale(0.45);
              
                bottom: -100px;
                right: -10px;
            }
        }
    }
    &__title {
        font-family: var(--font-montserrat-italic-semibold);
        font-size: 24px;
        line-height: 140%;
        color: var(--secondary-color);
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 20px;
    }
    &__text {
        max-width: 578px;
        margin: 0 auto;
        
    }
}

.together__container{
    max-width: 1600px;
    margin: 0 auto;
}
.slider-together {
    margin-top: 145px;
    cursor: pointer;
   
   
    @media screen and (max-width:768px){
        margin-top: 80px;
    }
    .slick-list{
        overflow: hidden;
    }
    .slick-track{
        display: flex;
        column-gap:30px;
        @media screen and (max-width:768px){
            column-gap:15px;
        }
    }
    //Элемент слайдера
    .slick-slide{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        div:last-child{
            transform: translate(100px,0);
        }
        @media screen and (max-width:768px){
            row-gap: 15px;
        }
    }
    &__item {
        border: 2px solid #7872B9;
        border-radius: 40px;
        min-height: 50px;
        padding: 0 40px;
        display: flex!important;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: var(--font-montserrat-italic-semibold);
        font-size: 20px;
        line-height: 120%;
        color: var(--main-color);
        outline: none;
        background: none;
        @media screen and (max-width:768px){
            font-size: 14px;
            min-height: 50px;
            padding: 0 27px;
        }
        &_purple {
            color:#fff;
            background: #7872B9;
            @media screen and (max-width:768px){
                font-size: 14px;
                min-height: 50px;
                padding: 0 27px;
            }
        }

    }

}
//specialist====================================================================
.specialist {
    padding: 100px 0;
    @media screen and (max-width:768px){
        padding: 40px 0;
    }
    &__title {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #4D4D52;
        margin-bottom: 10px;
    }

    &__subtitle {
        max-width: 1080px;
        margin-bottom: 27px;
        span{
            position: relative;
            &:after{
                position: absolute;
                content: '';
                bottom: -11px;
                right: 5px;
                width: 321px;
                height: 12px;
                background: url(../img/home-page/specialist/arrow-yellow.png) no-repeat;
                @media screen and (max-width:640px){
                    transform: scale(0.5);
                    right: -90px;
                }
            }
        }
        
    }
}
.flex-specialist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap:30px;
    @media screen and (max-width:640px){
        display: none;
    }
    @media screen and (max-width:1100px){
        gap:20px;
    }
    &__item {
        background: #EBF5FF;
        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        gap: 50px;
        @media screen and (max-width:1100px){
            gap: 20px;
        }
        &_long{
            flex: 1 0 57%; padding: 30px 20px 10px 30px;
        }
        &_short{
            flex: 1 0 40%;
            padding: 40px 90px 40px 100px;
            @media screen and (max-width:1100px){
                padding: 30px 30px 40px 40px;
            }
            @media screen and (max-width:640px){
                flex: 1 0 100%;
            }
        }
        img{
           @media screen and (max-width:1110px){
                width: 100px;
                height: 100px;
           }
        }
    }
    &__title {
        margin-bottom: 15px;
    }

    
}
//Слайдер
.slider-specialist {
    display: none;
    @media screen and (max-width:640px){
        display: block;
        margin-top: 40px;
    }
    .slick-list{
        overflow: hidden;
    }
    .slick-track{
        display: flex;
        gap: 10px;
    }
    //Точки слайдера
    .slick-dots{
        margin-top: 20px;
        display: flex;
        gap: 30px;
        justify-content: center;
        li{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #CDE1FF;
            cursor: pointer;
            button{display: none;}
            @media screen and (max-width:360px){
                width: 10px;
                height: 10px;
            }
        }
        .slick-active{
            background: #7872B9;
        }
    }
    &__item {
        background: #F9FCFF;
        border-radius: 15px;
        padding: 30px 20px;
        @media screen and (max-width:360px){
            padding: 30px 10px;
        }
    }

    &__content {
        text-align: center;
    }

    &__title {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--secondary-color);
        margin-bottom: 8px;
    }

    &__text {
        font-family: var(--font-montserrat-norms-regular);
        font-size: 20px;
        line-height: 140%;
        color: #4D4D52;
        max-width: 400px;
        margin: 0 auto;
    }
}
//step===========================================================================
.step {
    padding: 100px 0 138px;
    background: #F9FCFF;
    @media screen and (max-width:768px){
        padding: 40px 0 50px;
    }
    &__body {
        text-align: center;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 150px;
        @media screen and (max-width:768px){
            gap: 50px;
        }
    }
    
}

.row-step{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 10px;
    &__content{
        flex:0 1 500px;
        text-align: left;
        padding: 48px 0  40px 110px;
        position: relative;
        min-height: 210px;
        @media screen and (max-width:480px){
            padding: 80px 10px 0 10px;
            text-align: center;
            min-height: 0;
        }
    }
    &__title {
        position: relative;
        z-index: 5;
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #4D4D52;
        margin-bottom: 5px;
        @media screen and (max-width:480px){
            font-size: 16px;
        }
    }
    &__text{
        max-width: 390px;
        position: relative;
        z-index: 5;
    }
    &__number{
        position:absolute;
        top: 24px;
        left: 0;
        @media screen and (max-width:480px){
            top: 0;
            left: calc(50% - 25px);
        }
    }
    &__card{
       @media screen and (max-width:768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

.first-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    min-height: 85px;
    @media screen and (max-width:992px){
        flex-direction: column;
    }
    
    @media screen and (max-width:768px){
        margin-top: 50px;
    }
    &__content{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            z-index: 0;
            top: -25px;
            left: 0;
            width: 151px;
            height: 100px;
            background: url(../img/home-page/step/calendar.png) no-repeat;
            @media screen and (max-width:992px){
                background: url(../img/home-page/step/calendar-mini.png) no-repeat;
                width: 54px;
                height: 52px;
                top: -25px;
                left: calc(50% - 27px);
                transform: scale(2);
            }
            @media screen and (max-width:480px){
                transform: scale(1);
            }
        }
        @media screen and (max-width:992px){
            padding-top: 65px;
        }
    }
    &__text {
        padding-left: 105px;
        max-width: 417px;
        position: relative;
        z-index: 5;
        @media screen and (max-width:992px){
            max-width: 215px;
            padding-left: 0;
            margin-bottom: 40px;
        }
    }

    &__button {
        padding: 0 84px;
        @media screen and (max-width:480px){
            padding: 0 50px;
            font-size: 16px;
        }
    }
}
//ask=============================================================================
.ask {
    padding: 120px 0 114px;
    @media screen and (max-width:768px){
        padding: 48px 0 50px;
    }
    &__body {
        text-align: center;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media screen and (max-width:768px){
            row-gap: 25px;
        }
    }
    &__button{
        @media screen and (min-width:768px){
            display: none;
        }
        margin-top: 40px;
        padding: 0 10px;
        max-width: 290px;
        width: 100%;
    }
}
.item-ask {
    background: #F9FCFF;
    border-radius: 15px;
    padding: 36px 100px 30px 100px;
    
    @media screen and (max-width:768px){
        padding: 20px 20px 20px 20px;
        column-gap: 30px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 60px;
        @media screen and (max-width:768px){
            column-gap: 10px;
        }
        img{
            cursor: pointer;
            @media screen and (max-width:768px){
                width: 30px;
                height: 30px;
            }
        }
    }
    &__content {
        max-width: 780px;
        text-align: left;
    }

    &__title {
        font-family: var(--font-montserrat-italic-semibold);
        font-size: 20px;
        line-height: 140%;
        color:var(--secondary-color);
        @media screen and (max-width:480px){
            font-size: 16px;
        }
    }

    &__text {
        margin-top: 15px;
        max-width: 780px;
        text-align: left;
        margin-right: 100px;
        display: none;
        @media screen and (max-width:768px){
            margin-right: 0;
            
        }
    }
    &__text.open{
        display: block;
        
    }
    &__icon{
        width: 40px;
        height: 40px;
        min-width: 40px;
        background: url(../img/home-page/ask/plus.png) center no-repeat;
        cursor: pointer;
        transition: all 0.3s;
        @media screen and (max-width:768px){
            width: 30px;
            height: 30px;
            background-size:cover;
            flex: 0 0 30px;
            min-width: 30px;
        }
    }
    &__icon.open{
        background: url(../img/home-page/ask/minus.png) center no-repeat;
    }
   
}
//virtual=========================================================================
.virtual {
    padding: 120px 0;
    background: #F9FCFF;
    @media screen and (max-width:768px){
        padding: 40px 0 50px;
    }
    &__body {
        text-align: center;
        position: relative;
        background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
        @media screen and (max-width:1160px){
            background: url(../img/home-page/virtual/phone.png) 100% 0 no-repeat;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #F9FCFF;
                opacity: 0.7;
            }
        }
        @media screen and (max-width:480px){
            background: url(../img/home-page/virtual/mini-phone.png)  no-repeat;
            background-position: bottom 100px left 50%;
            &:before{
               display: none;
            }
        }
    }
    &__content {
        max-width: 680px;
        text-align: left;
        @media screen and (max-width:480px){
            padding-bottom: 337px;
        }
    }

    &__title {
        margin-bottom: 35px;
        z-index: 1;
        position: relative;
    }

    &__text {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #4D4D52;
        max-width: 580px;
        margin-bottom: 45px;
        position: relative;
        z-index: 1;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
       
    }

    &__item {
        font-family: var(--font-montserrat-norms-regular);
        font-size: 18px;
        line-height: 140%;
        color:var(--secondary-color);
        padding-left: 70px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background: url(../img/home-page/virtual/check.png) center/cover no-repeat;
            @media screen and (max-width:480px){
                width: 20px;
                height: 20px;
            }
        }
        @media screen and (max-width:480px){
            padding-left: 40px;
        }
    }

    &__button {
        max-width: 390px;
        width: 100%;
        padding: 10px;
        margin: 100px auto 0 auto;
        position: relative;
        z-index: 1;
        @media screen and (max-width:480px){
            margin: 50px auto 0 auto;
        }
    }
}
//help============================================================================
.help {
    padding: 150px 0 120px;
    @media screen and (max-width:768px){
        padding: 50px 0;
    }
    &__body {
        background: #F9FCFF;
        border-radius: 25px;
        display: flex;
        justify-content: flex-end;
        padding: 55px 0 72px;
        position: relative;
    }

    &__inner {
       padding: 0 20px;
    }

    
    &__woman {
        position: absolute;
        top: -29px;
        right: 30px;
        @media screen and (max-width:768px){
           width: 90px;
           height: 90px; 
           top: -24px;
           right: 10px;
        }
        @media screen and (max-width:340px){
            width: 90px;
            height: 90px; 
            top: -30px;
            right: 0px;
         }
    }
}

.info-help {
    padding-right: 300px;
    margin-bottom: 50px;
    @media screen and (max-width:768px){
        padding-right: 120px;
    }
    @media screen and (max-width:480px){
        padding-right: 0;
    }
    &__title {
        margin-bottom: 20px;
        max-width: 780px;
        @media screen and (max-width:480px){
            margin-right: 70px;
        }
    }

    &__text {
        max-width: 780px;
        span{
            font-family: var(--font-montserrat-norms-semibold);
        }
       
    }

    
}

.contact-help {
    display: grid;
    grid-template:1fr/repeat(2,1fr) ;
    gap:30px 50px;
    @media screen and (max-width:768px){
        gap:30px 20px;
    }
    @media screen and (max-width:640px){
        grid-template:1fr/repeat(1,1fr) ;
    }
    

    &__title {
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 24px;
        line-height: 140%;
        color:var(--secondary-color);
        margin-bottom: 15px;
        @media screen and (max-width:480px){
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
    &__text{

    }

       
}










