//Переменные=============================================================
:root{
    --font-montserrat-norms-light:"Montserrat-Light",sans-serif;
    --font-montserrat-italic-light:"Montserrat-LightItalic",sans-serif;
    --font-montserrat-norms-regular:'Montserrat-Regular',sans-serif;
    --font-montserrat-italic-regular:'Montserrat-Italic',sans-serif;
    --font-montserrat-norms-medium:'Montserrat-Medium',sans-serif;
    --font-montserrat-italic-medium:'Montserrat-MediumItalic',sans-serif;
    --font-montserrat-norms-semibold:'Montserrat-SemiBold',sans-serif;
    --font-montserrat-italic-semibold:'Montserrat-SemiBoldItalic',sans-serif;
    --font-montserrat-norms-bold:'Montserrat-Bold',sans-serif;
    --font-montserrat-italic-bold:'Montserrat-BoldItalic',sans-serif;
    --font-montserrat-norms-extrabold:"Montserrat-ExtraBold",sans-serif;
    --font-montserrat-italic-extrabold:"Montserrat-ExtraBoldItalic",sans-serif;
    --main-color:#7872B9;
    --secondary-color:#4D4D52;
}
//meet=======================================================================
.meet {
    background: #F9FCFF;
    padding: 75px 0 81px 0;
    @media screen and (max-width:768px){
        padding: 47px 0 50px 0;
    }
    &__body {
        display: flex;
        column-gap: 15px;
        @media screen and (max-width:768px){
            flex-direction: column;
            row-gap: 30px;
            
        }
    }
    &__content {
        flex:1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media screen and (max-width:768px){
            text-align: left;
            align-items: left;
        }
    }

    &__image {
        flex:0 0 40.5%;
        position: relative;
    }
    &__card-img {
        @media screen and (min-width:769px){
            img{
                max-width: 100%;
                height: auto;
            }
       }
       @media screen and (max-width:768px){
        text-align: center;
            img{
                max-width: 100%;
            }
        }
    }
}

.content-meet {

    &__title {
        margin-top: 17px;
        margin-bottom: 20px;
        font-size: 44px;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: url(../img/about-us/meet/ornamentation.png) no-repeat;
                top: -15px;
                left: -27px;
                width: 222px;
                height: 85px;
                @media screen and (max-width:480px){
                    background: url(../img/about-us/meet/mini-ornamentation.png) no-repeat;
                    width: 112px;
                    height: 45px;
                    z-index: 1;
                    top: -9px;
                    left: -9px;
                }
            }
        }
        @media screen and (max-width:768px){
           margin-bottom: 10px;
        }
        @media screen and (max-width:480px){
            font-family: var(--font-montserrat-norms-bold);
            font-size: 24px;
            margin-bottom: 35px;
        }
    }

    &__text {
        font-family: var(--font-montserrat-norms-medium);
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
        max-width: 580px;
        margin-bottom: 66px;
        @media screen and (max-width:768px){
            margin-bottom: 30px;
        }
        @media screen and (max-width:480px){
            font-size: 24px;
        }
    }

    &__button {
        padding: 0 90px;
        margin-bottom: 45px;
        @media screen and (max-width:880px){
            padding: 0 70px;
        }
        @media screen and (max-width:768px){
            margin-bottom: 30px;
        }
        @media screen and (max-width:480px){
            padding: 0 50px;
        }
    }
   
}
//rates=======================================================================
.rates {
    padding: 110px 0 120px ;
    @media screen and (max-width:768px){
        padding: 50px 0;
    }
    &__body {
        text-align: center;
    }

    &__title {
        margin-bottom: 80px;
        @media screen and (max-width:640px){
            @media screen and (max-width:480px){
                margin-bottom: 30px;
            }
        }
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
        justify-content: center;
        @media screen and (max-width:768px){
            display: none;
        }
    }
    &__form{
        margin-top: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        align-items: center;
        @media screen and (max-width:768px){
            margin-top: 35px;
            row-gap: 20px;
        }
    }
    &__form-promo{
        min-height: 60px;
        max-width: 380px;
        width: 100%;
        border:2px solid #7872B9;
        outline: none;
        padding: 19px 30px;
        border: 2px solid #7872B9;
        border-radius: 15px;
        font-family: var(--font-montserrat-norms-medium);
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #7872B9;
        &::placeholder{
            font-family: var(--font-montserrat-norms-medium);
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.02em;
            color: rgba(120, 114, 185, 0.6);
            @media screen and (max-width:480px){
                font-size: 14;
            }
        }
        @media screen and (max-width:480px){
            padding: 13px 15px;
            font-size: 18px;
        }
    }
    &__form-send{
        max-width: 380px;
        width: 100%;
    }
}

.item-rates {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    background: #F9FCFF;
    border-radius: 15px;
    min-height: 384px;
    flex: 0 0 280px;
    padding: 0 0px 30px 0px;
    @media screen and (max-width:480px){
        flex: 0 0 240px;
        min-height: 362px;
    }
    @media screen and (max-width:350px){
        flex: 0 0 200px;
    }
    &__header{
        background: #EBF5FF;
        min-height: 57px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:480px){
            min-height: 52px;
        }
    }
    &__title {
        font-family: var(--font-montserrat-norms-medium);
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #4D4D52;
        margin: auto 0;
        @media screen and (max-width:480px){
            font-size: 16px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding-top: 20px;
    }   
    &__price {
        font-family: var(--font-montserrat-norms-bold);
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #7872B9;
        max-width: 220px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:480px){
            font-size: 20px;
        }
        span{
            line-height: 140%;
            font-family: var(--font-montserrat-norms-medium);
            font-size: 20px;
            letter-spacing: 0.01em;
            color: #7872B9;
            @media screen and (max-width:480px){
                font-size: 18px;
            }
        }
    }
    &__pay {
        border: none;
        outline: none;
        background: #7872B9;
        border-radius: 10px;
        min-height: 70px;
        max-width: 220px;
        width: 100%;
        padding: 0 10px;
        font-family: var(--font-montserrat-norms-semibold);
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color:#fff;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 20px;
        &:hover{
            background: hsl(245, 62%, 75%);
        }
        @media screen and (max-width:480px){
            font-size: 16px;
            max-width: 180px;
        }
        @media screen and (max-width:350px){
            max-width: 150px;
        }
    }
    &__payment{
        border: none;
        outline: none;
        min-height: 50px;
        width: 100%;
        max-width: 220px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1E6F7;
        border-radius: 8px;
        font-family: var(--font-montserrat-norms-medium);
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #4D4D52;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
            background: #dbcee2;
        }
        @media screen and (max-width:480px){
            font-size: 16px;
            max-width: 180px;
        }
        @media screen and (max-width:350px){
            font-size: 16px;
            max-width: 150px;
        }
    }
    

    &__benefit {
        font-family: var(--font-montserrat-norms-medium);
        font-size: 18px;
        line-height: 140%;
        color: #7872B9;
    }
}
//rates-slider
.rates-slider{
    display: none;
    
    @media screen and (max-width:768px){
        display: block;
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    .slick-list{
        overflow: hidden;
    }
    .slick-track{
        display: flex;
        justify-content:space-around;
    }
    //стрелки
    .slick-arrow{
        position: absolute;
        top: 0;
        font-size: 0;
        width: 20px;
        height: 24px;
        cursor: pointer;
        top: calc(50%);
        outline: none;
        border: none;
    }
    .slick-prev{
        left: -10px;
        background: url(../img/rates/rates/left-arrow.png) center no-repeat;
        z-index: 5;
    }
    .slick-next{
        right: -10px;
        background: url(../img/rates/rates/right-arrow.png) center no-repeat;
        
    }
}
